.figure-caption{
   text-align: center;
}


div.sourceCode{
  border-style: dashed;
  border-width: 2px;
}

div.input{
  border-color: coral;
  
 }

div.output{
  border-color: lightskyblue;
 }



 /*
This next section is to highlight code
 */
 .textcolor[data-arguments="blue"]{
   color: blue;
 }
 
.textcolor[data-arguments="green"]{
   color: green;
  }
 
.textcolor[data-arguments="indigo"]
 {
   color: indigo;
  }
 
.textcolor[data-arguments="lime"]{
   color: lime;
  }
 
 
.textcolor[data-arguments="red"]{
     color: red;
    }
 
