/.quarto/
docs
/*.tex
*.docx
*.pdf
/*.log
/*.aux
/*.toc
site_libs
.Rproj.user
.Rhistory

/.luarc.json

**/*.quarto_ipynb
__pycache__/
.~lock.*
*.backup_v*
MISSING_CHANGES_DETAILED.md
STRUCTURE_AUDIT_REPORT.md
